/*-----------------------------------------------*/
/*---------------Page d'accueil------------------*/

#logoaccueil {
    text-align:center ; 
    margin:150px 10px 40px ;
}/*Règle la position du logo JtxVidéo sur la page d'accueil*/

#cadrebarre {
    margin: 0px 80px ;
}/*s'applique au cadre contenant la barre de recherche et les deux boutons sur la page d'accueil*/

#barrerecherche {
    margin: 0px 0px 15px ;
}/* s'applique uneiquement à la barre de recherche*/

#boutonsrecherche {
    text-align:center ;
    margin-bottom : 20px;
}/* s'applique uniquement aux boutons en dessous de la bare de recherche sur la page d'accueil*/

#cadreoptions {/*s'applique au cadre contenant les options avancées sur la page d'accueil*/
    margin-bottom:20px;
    padding-top: 10px;
    background-color: #EEEEEE;
    border-radius: 10px;
}

/*-----------------------------------------------*/
/*---------------Page de recherche---------------*/

body.pagerecherche {
    background-color:#EEEEEE;
}

#logocoincadre {
    margin: -5px 10px ;
}

#logocoin {
    margin : 0px ;
}/*les deux id précédents permettent de mettre le logo jtxvidéo en haut à droite dans la barre de navigation*/

.descriptionvideo {
    width:100%;
}/*grâce à cette classe, la description d'une vidéo prend toute la place
 à droite de l'écran (problème quand le texte de description faisait moins d'une ligne)*/

#conteneurvideos {/*s'applique au conteneur qui contient les vidéos sur une page de recherche*/
    max-width:800px;
}

.videoligne {/*affecte les boutons catégorie, tags, similaire et datation en dessous du titre dans videoligne*/
    margin-top:0px;
    padding: 10px;
    background-color: #FFFFFF;
}

/*-----------------------------------------------*/
/*----------Page d'affichage d'une vidéo---------*/

.boutonsvideo {
    float:right;
}

/*-----------------------------------------------*/
/*---------------Divers--------------------------*/

.jaune {/*pour le formattage du nom d'utilisateur*/
    color:#F2E52E;
}

.rouge {/*pour le formattage du nom d'utilisateur*/
    color:#D62222;
}

#pied {/*règle la position du texte dans le pied de page, s'applique sur toutes les pages'*/
    text-align:right ;
}
